

<p>Please fill the below details of your organization which you would like to advertize!</p>
<div class="container-fluid">
<div class="example-container">
    <mat-form-field appearance="fill">
      <mat-label>Center ID</mat-label>
      <input matInput>
    </mat-form-field>
  </div>
<div class="example-container">
    <mat-form-field appearance="fill">
      <mat-label>Center Name</mat-label>
      <input matInput>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Speciality</mat-label>
        <input matInput>
      </mat-form-field>
  </div>
  
<div class="example-container">
    <mat-form-field appearance="fill">
        <mat-label>Gender</mat-label>
        <select matNativeControl id="mySelectId">
          <option value="Male">Male</option>
          <option value="Female">Female</option>
          <option value="All">All</option>
        </select>
      </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Contact Person</mat-label>
        <input matInput placeholder="Person Name">
      </mat-form-field>
  </div>
  <div class="example-container">
    <mat-form-field appearance="fill">
      <mat-label>Mode of Operation</mat-label>
      <input matInput>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Website Url</mat-label>
        <input matInput>
      </mat-form-field>
  </div>
  
  
 
  <div class="example-container">
    <mat-form-field appearance="fill">
      <mat-label>Country Name</mat-label>
      <input matInput>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>State Name</mat-label>
        <input matInput>
      </mat-form-field>
  </div>
  <div class="example-container">
  <mat-form-field appearance="fill">
    <mat-label>Organization Description</mat-label>
    <textarea matInput></textarea>
  </mat-form-field>
</div>

  
</div>