
<div>
    <button  mat-button (click)="openDialog('Add',{})" mat-raised-button class="btn btn-success">Add Row</button>
    <br>
    <h1>Select Your Category</h1>
    <hr>
    <div class=" container-fluid">

        <div class="navbar navbar-expand-sm bg-primary navbar-dark">
        <div class="container-fluid">
          <div class="navbar-header">
      
            <ul class="navbar-nav" >
       
      
              <li class="nav-item active" >
      
                  <a routerLink="/addOrganization/createSeniorprogram" routerLinkActive="active">Senior Program</a>
              </li> 
              
              <li class="nav-item active" >
      
                <a routerLink="/addOrganization/createOrphanage" routerLinkActive="active">Orphanage</a>
            </li> 
      
            <li class="nav-item active" >
      
              <a routerLink="/addOrganization/createHandicapped" routerLinkActive="active">Handicapped</a>
          </li> 
      
          <li class="nav-item active" >
      
            <a routerLink="/addOrganization/createVoluntary" routerLinkActive="active">Volunteers</a>
        </li> 
      
        <li class="nav-item active" >
      
          <a routerLink="/addOrganization/createDonationcenter" routerLinkActive="active">Donation Center</a>
      </li> 
      
      <li class="nav-item active" >
      
        <a routerLink="/addOrganization/createFoodbank" routerLinkActive="active">Food Bank</a>
      </li> 
      
      <li class="nav-item active" >
      
        <a routerLink="/addOrganization/createRehabcenter" routerLinkActive="active">Rehab Center</a>
      </li> 
             
              
              <li class="nav-item dropdown me">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  More
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="#">Home</a>
                  <a class="dropdown-item" href="#">Sign Options</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">About Us</a>
                </div>
              </li>
      
              
              
      
                   
          </ul>        
      
      
          </div>
      
        
      
        </div>
      </div>
      
      </div>
      