<h1 mat-dialog-title>College Details</h1>
<div mat-dialog-content>

    <!-- <mat-form-field>
        <input matInput placeholder="Id" [(ngModel)]="local_data._id">
      </mat-form-field>  -->
  <mat-form-field>
    <input matInput placeholder="Category Name" [(ngModel)]="local_data.categoryName">
  </mat-form-field> 
  
  <mat-form-field>
    <input matInput placeholder="Organization Name" [(ngModel)]="local_data.collegeScores">
  </mat-form-field>
  <mat-form-field *ngIf="action === 'Details' && local_data.collegeUrl">

    <iframe width="400" height="300" [src]="sanitizer.bypassSecurityTrustResourceUrl(local_data.collegeUrl)"
        frameborder="0"
        allow="accelerometer; 400play; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>


<mat-form-field>

    <input matInput [readonly]="!editable" placeholder="Scholarships Given" [(ngModel)]="local_data.collegeScholarships">
  </mat-form-field>
  <mat-form-field>
    <input matInput [readonly]="!editable" placeholder="Country Name" [(ngModel)]="local_data.countryName">
  </mat-form-field>
  <mat-form-field *ngIf="action === 'Details'">
    <input matInput [readonly]="!editable" placeholder="Ratio" [(ngModel)]="local_data.internationalStudentsRatio">
  </mat-form-field>
  

</mat-form-field>

  <h1 mat-dialog-title> <strong>{{action}}</strong></h1>
<div mat-dialog-content>
  <mat-form-field *ngIf="action != 'Delete'; else elseTemplate">
    <input placeholder="{{action}} of Category Name" matInput [readonly]="!editable" [(ngModel)]="local_data.categoryName">
  </mat-form-field>
  <ng-template #elseTemplate>
    Sure to delete <b>{{local_data._id}}</b>?
  </ng-template>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="doAction()">{{action}}</button>
  <button mat-button (click)="closeDialog()" mat-flat-button color="warn">Cancel</button>
</div>
</div>

