<div class="container" >
    <div class="row well" id="table-scroll">
        <button type="submit" (click)="addColleges()" data-dismiss="modal" class="btn btn-primary">getcolleges</button>
        <div class="table-responsive" *ngFor="let college of colleges; let i = index">

            <table class="table table-bordered">

                <thead>
                    <tr>
                        <th>categoryId</th>
                        <th>categoryName</th>
                        <th>resourceType</th>
                        <th>collegeUrl</th>
                        <th>collegeScores</th>
                        <th>internationalStudentsRatio</th>
                        <th>maleFemaleRatio</th>
                        <th>collegeResearchGrants</th>
                        <th>authorName</th>
                        <th>contributorName</th>
                        <th>contributorEmail</th>
                        <th>contributorStoryLine</th>
                        <th>collegeStanding</th>
                        <th>collegeGPA</th>
                        <th>collegeScholarships</th>
                        <th>collegeCampusLife</th>
                        <th>cityName</th>
                        <th>stateName</th>
                        <th>countryCode</th>
                        <th>countryName </th>
                        <th> resourceUploadedDate </th>
                        <th> collegeLocation </th>
                        <th>notes</th>
                        <th>lastModifiedBy</th>
                        <th>lastModifiedDate </th>
                        <th>localCampusInfo</th>
                        <th>alumniInfo </th>
                        <th>prospectus </th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td>{{college.categoryId}}</td>
                        <td>{{college.categoryName}}</td>
                        <td>{{college.resourceType}}</td>
                        <td>{{college.collegeUrl}}</td>
                        <td>{{college.collegeScores}}</td>
                        <td>{{college.internationalStudentsRatio}}</td>
                        <td>{{college.maleFemaleRatio}}</td>
                        <td>{{college.collegeResearchGrants}}</td>
                        <td>{{college.autdorName}}</td>
                        <td>{{college.contributorName}}</td>
                        <td>{{college.contributorEmail}}</td>
                        <td>{{college.contributorStoryLine}}</td>
                        <td>{{college.collegeStanding}}</td>
                        <td>{{college.collegeGPA}}</td>
                        <td>{{college.collegeScholarships}}</td>
                        <td>{{college.collegeCampusLife}}</td>
                        <td>{{college.cityName}}</td>
                        <td>{{college.stateName}}</td>
                        <td>{{college.countryCode}}</td>
                        <td>{{college.countryName}} </td>
                        <td>{{college. resourceUploadedDate}} </td>
                        <td> {{college.collegeLocation }}</td>
                        <td>{{college.notes}}</td>
                        <td>{{college.lastModifiedBy}}</td>
                        <td>{{college.lastModifiedDate }}</td>
                        <td>{{college.localCampusInfo}}</td>
                        <td>{{college.alumniInfo }}</td>
                        <td>{{college.prospectus }}</td>

                    </tr>

                </tbody>
            </table>
        </div>


    </div>
    <br>
    <br>
    <br>
    <br>
    <div class="row well">
        <div fxLayout fxLayoutAlign="center center">
            <mat-form-field fxFlex="40%">
                <input matInput type="text" (keyup)="doFilter($event.target.value)" value="filter">
            </mat-form-field>
        </div>
        <table mat-table [dataSource]="datasource" matSort>

            <ng-container matColumnDef="categoryName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Category Name</th>
                <td mat-cell *matCellDef="let element">{{element.categoryName}}</td>
            </ng-container>


            <ng-container matColumnDef="collegeScores">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>College Scores</th>
                <td *matCellDef="let element">{{element.subCategoryName}}</td>
            </ng-container>
            <ng-container matColumnDef="collegeUrl">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>College URL</th>
                <td mat-cell *matCellDef="let element">{{element.resourceUrl}}</td>
            </ng-container>
            <ng-container matColumnDef="collegeScholarships">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>College Scholarships</th>
                <td mat-cell *matCellDef="let element">{{element.contributorEmail}}</td>
            </ng-container>
            <ng-container matColumnDef="countryName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Country Name</th>
                <td mat-cell *matCellDef="let element">{{element.activeStatus}}</td>
            </ng-container>
            <ng-container matColumnDef="notes">
                <th mat-header-cell *matHeaderCellDef>Notes</th>
                <td mat-cell *matCellDef="let element">{{element.notes}}</td>
            </ng-container>

            <ng-container matColumnDef="cityName">
                <th mat-header-cell *matHeaderCellDef> City Name </th>
                <td mat-cell *matCellDef="let element">
                    <button mat-icon-button (click)="redirectToDetails(element.id)">
                        <mat-icon [ngStyle]="{'color':'blue'}" class="mat-18">reorder</mat-icon>
                    </button>
                </td>
            </ng-container>

            <ng-container matColumnDef="update">
                <th mat-header-cell *matHeaderCellDef> Update </th>
                <td mat-cell *matCellDef="let element">
                    <button mat-icon-button color="accent" (click)="redirectToUpdate(element.id)">
                        <mat-icon [ngStyle]="{'color':'green'}" class="mat-18">system_update</mat-icon>
                    </button>
                </td>
            </ng-container>

            <ng-container matColumnDef="add">
                <th mat-header-cell *matHeaderCellDef> add </th>
                <td mat-cell *matCellDef="let element">
                    <button mat-icon-button color="purple" (click)="redirectToDelete(element.id)">
                        <mat-icon [ngStyle]="{'color':'red'}" class="mat-18">add</mat-icon>
                    </button>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="tableColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: tableColumns"></tr>


        </table>
        <div>
            <mat-paginator [pageSize]="2" [pageSizeOptions]="[2, 4, 6, 10, 20]" (page)="pageChanged($event)">
            </mat-paginator>
        </div>

    </div>
</div>