<div class="container">



  <div class="row well">
    <div class="col-lg-4" *ngIf="clicked">
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Search By Score</mat-card-title>
          <mat-card-subtitle>Your Score Here</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <mat-form-field>
            <input matInput placeholder="countryName" [(ngModel)]="countryName">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="collegeScores" [(ngModel)]="collegeScores">
          </mat-form-field>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button (click)="getByCountryNameCollegeScores(countryName, collegeScores)">submit </button>
          <button mat-button>cancel</button>
        </mat-card-actions>
      </mat-card>
    </div>
    <div class="col-lg-4" *ngIf="clicked">
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Search By Score</mat-card-title>
          <mat-card-subtitle>Your Score Here</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <mat-form-field>
            <input matInput placeholder="countryName" [(ngModel)]="countryName">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="collegeScores" [(ngModel)]="collegeScores">
          </mat-form-field>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button (click)="getByCountryNameCollegeScores(countryName, collegeScores)">submit </button>
          <button mat-button>cancel</button>
        </mat-card-actions>
      </mat-card>
    </div>
    <div class="col-lg-4" *ngIf="clicked">
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Search By Score</mat-card-title>
          <mat-card-subtitle>Your Score Here</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <mat-form-field>
            <input matInput placeholder="countryName" [(ngModel)]="countryName">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="collegeScores" [(ngModel)]="collegeScores">
          </mat-form-field>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button (click)="getByCountryNameCollegeScores(countryName, collegeScores)">submit </button>
          <button mat-button>cancel</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>







  <div class="row well" *ngIf="datasource">
    <table class="table-responsive" mat-table [dataSource]="datasource" class="mat-elevation-z8" matSort>


      <ng-container matColumnDef="categoryName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Category Name</th>
        <td mat-cell *matCellDef="let element">{{element.categoryName}}</td>
      </ng-container>


      <ng-container matColumnDef="collegeScores">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>College Scores</th>
        <td *matCellDef="let element">{{element.collegeScores}}</td>
      </ng-container>
      <ng-container matColumnDef="collegeUrl">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>College URL</th>
        <td mat-cell *matCellDef="let element">{{element.resourceUrl}}</td>
      </ng-container>
      <ng-container matColumnDef="collegeScholarships">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>College Scholarships</th>
        <td mat-cell *matCellDef="let element">{{element.collegeScholarships}}</td>
      </ng-container>
      <ng-container matColumnDef="countryName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Country Name</th>
        <td mat-cell *matCellDef="let element">{{element.countryName}}</td>
      </ng-container>
      <ng-container matColumnDef="internationalStudentsRatio">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Ratio</th>
        <td mat-cell *matCellDef="let element">{{element.internationalStudentsRatio}}</td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="tableColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: tableColumns"></tr>

      <br>
      <br>
    </table>

    <div>
      <mat-paginator [pageSize]="2" [pageSizeOptions]="[2, 4, 6, 10, 20]" (page)="pageChanged($event)">
      </mat-paginator>
    </div>
  </div>

  <div class="row well">
    <div class="col-lg-12" *ngIf="clicked">
      <mat-card >
        <mat-card-header class="dynamic-card-tips">
          <div mat-card-avatar ></div>
          <mat-card-title>Tips</mat-card-title>
          <mat-card-subtitle>

            <div>
              No blame games anymore please and leave selfishness, we are an interdependent group of countries, 
              immature planning of any country will lead a bubble effect on everyone, better to be open minded and compliant. Utilately everyone will pay the price. 
              lets cleanup our planet, for our children..grandchildren, and their children. We have to roll up our sleves and movitate
              people around us. We can bring change, lets groom our children as effective leaders, most importantly political leaders. We cant leave our 
              faith in the hands of few fools. Children need train them to have, hands on skills, need to have awareness of our history,
              to be motivated from past and present historians philosopheres leaders scientists ngos, 
              we need to impart knowledge on how tackle the climate change and make our planet a better place to live forever.
              We may conquer distance plants in years to come, but our blue print as a sunstainable and responsible humans should be the cornerstone of every human being.
            </div>
          </mat-card-subtitle>


      </mat-card-header>
      <mat-card-content>

      </mat-card-content>
      </mat-card>
    </div>
  </div>