<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">Manage Your Organization</h1>
        <p class="lead">Set up your organization and let people know about your organization. You can also encourage people to donate for good cause!! .</p>
        <hr class="my-4">
        <p>Select your type of organization and mention what people want to know about your organization .</p>
        <mat-card-actions>
          <button mat-button routerLink="/jobs/addOrganization" routerLinkActive="active">Let's Go!!</button>
        </mat-card-actions> 
      </div>
    <div class="card text-left">
        <div class="card-header">
          <h1>Categories</h1>
        </div>
        <div class="card-body">
          <h2>Senior Programs</h2>
          <h2>Orphanages</h2>
          <h2>Handicapped</h2>
          <h2>Rehab Centers</h2>
          <h2>Donation Centers</h2>
          <h2>Voluntory Organizations</h2>
          <h2>Food Banks</h2>
          <p class="card-text">Cannot find your organization category? Kindly let us know!</p>
          <a href="#" class="btn btn-primary">Email us</a>
        </div>
        <div class="card-footer text-muted">
          #Citizen Service#


        </div>
      </div> 
      </div>

      


      
