<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">Create Your Organization</h1>
        <p class="lead">Set up your organization and let people know about your organization. You can also encourage people to donate for good cause!! .</p>
        <hr class="my-4">
        <p>Select your type of organization and mention what people want to know about your organization .</p>
        <a class="btn btn-primary btn-lg" href="#" role="button">Search Domains</a> 
      </div>
    <!-- <div class="card text-center">
        <div class="card-header">
          Featured
        </div>
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
        <div class="card-footer text-muted">
          2 days ago
        </div>
      </div> -->
      </div>

      
