<div class="container">
<div class="jumbotron">
    <h1 class="display-4">Build Up Your Skills</h1>
    <p class="lead">Get trained from professionals and experienced trainers in Skills you are most ineterested in. Also find out the most needed trainings for your dream job!! .</p>
    <hr class="my-4">
    <p>Below are the different domains where trainings are available for all kinds of careers.</p>
    <a class="btn btn-primary btn-lg" href="#" role="button">Search Domains</a> 
  </div>
<!-- <div class="card text-center">
    <div class="card-header">
      Featured
    </div>
    <div class="card-body">
      <h5 class="card-title">Special title treatment</h5>
      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
    <div class="card-footer text-muted">
      2 days ago
    </div>
  </div> -->
  </div>
