<div class="container-fluid">
<h1> </h1>
<h1> </h1>
    <h1 class="display-1">CITIZEN SERVICE</h1>
<h1>  </h1>
    <div class="col-lg-12">
        <div class="demo-content">
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="3000">

                <ol class="carousel-indicators">
                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="3"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="4"></li>
                </ol>


                <div class="carousel-inner" role="listbox">
                    <div class="item active">
                        <iframe width="1500" height="400" src="https://www.youtube.com/embed/Ld2wthNnK7Q"
                            frameborder="0"
                            allow="accelerometer; 400play; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>

                    </div>
                    <div class="item">
                        <iframe id="video" width="1500" height="400"
                            src="https://www.youtube.com/embed/C8JokG3JhqU?rel=0&amp;showinfo=0" frameborder="0"
                            gesture="media" allow="encrypted-media" allowfullscreen></iframe>

                    </div>
                    <div class="item">
                        <iframe id="video" width="1500" height="400"
                            src="https://www.youtube.com/embed/0khWpvKUOz4?rel=0&amp;showinfo=0" frameborder="0"
                            gesture="media" allow="encrypted-media" allowfullscreen></iframe>

                    </div>
                    <div class="item">
                        <iframe id="video" width="1500" height="400"
                            src="https://www.youtube.com/embed/zHrovd_9kK0?rel=0&amp;showinfo=0" frameborder="0"
                            gesture="media" allow="encrypted-media" allowfullscreen></iframe>

                    </div>
                    <div class="item iframeSwipe overlay">
                        <iframe id="video" width="1500" height="400"
                            src="https://www.youtube.com/embed/Ma2b7AipnT8?rel=0&amp;showinfo=0" frameborder="0"
                            gesture="media" allow="encrypted-media" allowfullscreen></iframe>

                    </div>
                    <div class="item iframeSwipe overlay">
                        <iframe id="video" width="1500" height="400"
                            src="https://www.youtube.com/embed/ht7hESAjujI?rel=0&amp;showinfo=0" frameborder="0"
                            gesture="media" allow="encrypted-media" allowfullscreen></iframe>

                    </div>
                </div>


                <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
</div>
</div>
<div class="container-fluid">
    <div class="row well">
        <div class="col-lg-12">
          <mat-card >
            <mat-card-header class="dynamic-card-tips">
              <div mat-card-avatar ></div>
              <mat-card-title>OUR NOTION</mat-card-title>
              <mat-card-subtitle>
    
                <div>
                  We aim to increase awareness in the public and encourage them to help those who are at a forfeit in physical or relational aspects and in need 
                  of proper shelter and care. Organizations which are not recognized properly and need social support in funding and equipement can make themselves
                  public and available through this platform to public and get an aid. This platform provides place for both public to find organizations and organizations
                  to find public for support and also manage their organizations online giving them flexible accessibility and avoiding the risk of losing hard copies and theft.
                  This is a safe and secure platform available to everyone. Building a family called nation.
                </div>
              </mat-card-subtitle>
    
    
          </mat-card-header>
          <mat-card-content>
    
          </mat-card-content>
          </mat-card>
        </div>
      </div>
</div>